
/****************************/
/* LOCAL CSS                */
/****************************/

/* Put your custom CSS and CSS overrides in this file and  */
/* rename it local.css.  By restricting your CSS changes   */
/* to local.css, your changes will not be overwritten when */
/* upgrading to a new version of this theme.  You can also */
/* use a local-rtl.css file for the equivalent in RTL.     */

/* Steps to activate local.css:                       */
/* 1. Add your custom CSS to this file                */
/* 2. Rename this file to local.css                   */
/* 3. Clear cached data at admin/settings/performance */
body {
	background: url(../images/skyline.jpg) repeat-x #fff;
}
a {
	color: #346480;
}
/**
 * Header
 */
.header-group-wrapper {
	background: url(../images/skyline.jpg) repeat-x #fff;
  height: 450px;
}
.header-group-wrapper a {
	color: #fff;
}
.user-login-link {
  float: right;
  text-transform: uppercase;
}

.logged-in #primary-menu {
  margin-top: 21px;
}

#logo {
  margin:	0 0 0 -10px
}
/* main-menu */
.primary-menu.block .inner {
 margin: 0;
}
.primary-menu-inner {
	float: right;
  margin-right: 0;
}
.primary-menu a,
.sidebar-last h2.block-title {
  font-family: 'Maiden Orange';
  font-size: 24px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.primary-menu .last a {
	padding-right: 0;
}


a.register-link {
  background: url(../images/gold-arrow.png) no-repeat scroll 0 0 transparent;
  color: #C05818;
  display: inline-block;
  float: right;
  font-family: Rokkitt;
  font-size: 24px;
  height: 39px;
  line-height: 38px;
  padding: 0 0 0 40px;
  margin: 10px 0 0;
  width: 141px;
}
a.register-link:hover {
	text-decoration: none;
}
/**
 * Main content
 */
.main-wrapper {
  margin-top:25px;
}
.content-group-inner {
	border-right: 2px solid #FFEBCF;
}

/* Sidebar */
.sidebar-last h2.block-title {
  background: url(../images/bg-blue-ribbon.png) repeat-x scroll 0 0 transparent;
  margin:0;
  min-height:60px;
  overflow: hidden;
  padding:21px 0 0 16px;
  text-overflow: ellipsis;  
  white-space: nowrap;
  width: 215px;
  color: #fff;
  font-weight:normal;
}
.sidebar-last ul li,
.sidebar-last ul.menu li {
  border-bottom:1px solid #ffecd2;
  margin: 0; /* LTR */
  padding: 2px;
  list-style-type: disc;
  list-style-position: initial;
  list-style-image:url(../images/bullet.png);
}
.sidebar-last ul li a {
  font-weight:bold;
}
.sidebar-last ul li a.active {
  color:#00384f;
}

/**
 * Footer
 **/
.bottom {
  background: url(../images/footer.jpg) repeat-x scroll 0 0 #366380;
  min-height: 350px;
}
.footer-message {
    padding: 40px 0;
}

/* attendees_clone view */
#view-id-attendees_clone-page_1 .views-view-grid {
  background-color:#F2F2F2;
}
#view-id-attendees_clone-page_1 .views-view-grid td {
  text-align:center;
}
#view-id-attendees_clone-page_1 .views-view-grid td .views-field-name,
#view-id-attendees_clone-page_1 .views-view-grid td .views-field-picture {
  background-color:#FFF;
  width:119px;
}
#view-id-attendees_clone-page_1 .views-view-grid td .views-field-picture {
  padding-top:10px;
}
#view-id-attendees_clone-page_1 .views-view-grid td .views-field-picture img {
  border:solid 1px #D8DAD7;
}
#view-id-attendees_clone-page_1 .views-view-grid td .views-field-picture img:hover {
  opacity: 0.8;
}
#view-id-attendees_clone-page_1 .views-view-grid td .views-field-name {
  background: url(../images/user-profile-border-bottom.png) no-repeat scroll left bottom transparent;
  padding-bottom:10px;
}
#view-id-attendees_clone-page_1 .views-view-grid td .views-field-name .field-content {
  position:relative;
  top:-6px;
}
#view-id-attendees_clone-page_1 .views-view-grid td .views-field-name .field-content a {
  color:#00384F;
  font-size:12px;
}
#view-id-attendees_clone-page_1 .views-view-grid td .views-field-name .field-content a:hover {
  color:#4496B2;
}


/* Phone responsive hotness! */
/* iPhone [portrait + landscape] */
@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
  html {
    -webkit-text-size-adjust: none;
  }
  body, div.full-width {
    min-width: 0;
  }
  div.full-width {
    width: 100%;
  }
  .grid16-16 {
    width: 100%;
  }
  .clearfix::after, .clearfix .inner::after {
    content: none;
  }
  .font-size-12 {
    font-size: .95em;
  }
  img {
    max-width: 100%;
    width: auto;
  }
  #logo img {
    width: 100px;
  }
}
