/* Comment */
/* Colors */
/* Mixins */
/* Typography */
h1,
h2,
h3,
p {
  margin-bottom: 0.85em; }

h1,
h2,
h3 {
  border-bottom: 1px dashed #36657d;
  color: #283840;
  font-family: Sanchez, serif;
  line-height: 1.2em; }
  h1 a,
  h2 a,
  h3 a {
    text-decoration: none;
    color: #283840; }

h1 {
  font-size: 2.5em; }

article {
  margin-bottom: 1em; }
  article h2 {
    border-bottom: none;
    display: inline-block; }
  article .submitted {
    color: #e58f1e;
    display: inline-block;
    font-size: 0.75em;
    margin: 0 0 0 1em; }

/* Body styling */
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

a {
  color: #e58f1e; }

img {
  height: auto;
  max-width: 100%; }

body {
  background-color: #f6f6f6; }

#header {
  height: 745px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: relative;
  width: 100%; }
  #header .header-top-bg {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%; }
  #header section {
    margin: 0 auto;
    max-width: 1300px;
    position: relative;
    width: 100%; }
  #header .city-bg {
    bottom: 0;
    min-width: 1300px;
    position: absolute;
    width: 100%;
    z-index: -1; }
  #header .honeycomb {
    left: 50%;
    margin-left: -650px;
    position: absolute;
    min-width: 1300px;
    width: 100%;
    z-index: 1;
    transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    /* Safari */ }
  #header .sub-heading,
  #header .header-dates {
    color: #f2dfc4;
    font-family: Sanchez, serif;
    text-shadow: 0.05em 0.05em 0.05em rgba(0, 0, 0, 0.75);
    left: 50%;
    margin-left: -650px;
    min-width: 1300px;
    position: relative;
    text-align: center;
    width: 100%; }
  #header .sub-heading {
    font-size: 3.5em;
    top: 470px; }
  #header .header-dates {
    font-size: 1.2em;
    padding: 0 0 0 35%;
    top: 480px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    z-index: 3; }
  #header .logo-wrap {
    max-width: 1300px;
    position: absolute;
    width: 100%;
    z-index: 2; }

#logo {
  display: block;
  margin: 0 auto;
  max-width: 665px;
  width: 100%; }

/* Main navigation in the header region */
#header-navigation {
  display: block;
  text-align: center; }
  #header-navigation li {
    border-bottom: 1px solid #f2dfc4;
    border-top: 1px solid #f2dfc4;
    display: inline;
    left: -200px;
    list-style-type: none;
    padding: 10px 0px 10px 0;
    position: relative;
    top: 540px; }
    #header-navigation li:first-child {
      background: url(../img/register-button-bg.png);
      border-bottom: none;
      border-top: none;
      display: inline-block;
      font-size: 1.45em;
      height: 62px;
      left: 360px;
      line-height: 1.75em;
      margin: 0 30px;
      padding-right: 0;
      position: relative;
      width: 291px; }
      #header-navigation li:first-child a {
        color: #f2dfc4;
        font-family: Sanchez, serif;
        text-shadow: -0.05em -0.05em 0.05em rgba(0, 0, 0, 0.75); }
    #header-navigation li:nth-child(2) {
      padding: 10px 35px 10px 0; }
    #header-navigation li:nth-child(3) {
      margin: 0 390px 0 -4px; }
    #header-navigation li:nth-child(4) {
      padding: 10px 35px 10px 0; }
    #header-navigation li:nth-child(5) {
      margin: 0 0 0 -4px; }
    #header-navigation li .active {
      color: #e58f1e; }
    #header-navigation li a {
      color: #f2dfc4;
      font-family: Sanchez, serif;
      text-shadow: 0.05em 0.05em 0.05em rgba(0, 0, 0, 0.75);
      font-size: 1.2em;
      text-decoration: none; }

/* Main navigation for the body region */
.second-main-nav {
  height: 135px;
  margin: 0 auto;
  position: fixed;
  top: -135px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  width: 100%;
  z-index: 999; }
  .second-main-nav .small-logo-wrapper {
    margin: 0 auto;
    width: 1000px; }
    .second-main-nav .small-logo-wrapper .small-logo {
      left: -100px;
      position: relative;
      display: inline;
      z-index: 4; }

#body-navigation {
  background: url(../img/little-knobs.png);
  background-color: #36657d;
  height: 72px;
  position: relative;
  text-align: right;
  top: -138px; }
  #body-navigation ul {
    max-width: 1000px;
    margin: 0 auto; }
    #body-navigation ul li {
      display: inline;
      font-family: Sanchez, serif;
      line-height: 4.9em;
      list-style-type: none;
      padding-right: 20px; }
      #body-navigation ul li .active {
        color: #f2dfc4;
        text-shadow: -1px -1px -2px rgba(0, 0, 0, 0.3); }
      #body-navigation ul li a {
        color: black;
        font-size: 1.2em;
        text-decoration: none;
        text-shadow: 1px 1px -4px rgba(202, 222, 232, 0.3); }
  #body-navigation .section {
    /*background-color: #000000;*/
    background-image: -webkit-gradient(linear, left center, right center, from(rgba(0, 0, 0, 0.25)), to(rgba(0, 0, 0, 0)));
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
    background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
    background-image: linear-gradient(left, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,StartColorStr='#000000', EndColorStr='#000000');
    height: 72px; }

/* Styling for the body content */
#content .section {
  margin: 0 auto;
  max-width: 1000px;
  color: dark-gray;
  font-family: Lato, sans-serif;
  line-height: 1.2em; }
  #content .section * {
    max-width: 650px; }

.block-views h2 {
  font-size: 1.75em; }

/* Styling for the footer area */
#footer {
  background-color: #00394d;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#00394d), to(#000e13));
  background-image: -webkit-linear-gradient(top, #00394d, #000e13);
  background-image: -moz-linear-gradient(top, #00394d, #000e13);
  background-image: -o-linear-gradient(top, #00394d, #000e13);
  background-image: -ms-linear-gradient(top, #00394d, #000e13);
  background-image: linear-gradient(top, #00394d, #000e13);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#00394d', EndColorStr='#000e13');
  height: 200px;
  margin-top: 3em; }
  #footer .section {
    margin: 0 auto;
    width: 960px; }

/* Media queries */
@media only screen and (min-width: 1300px) {
  header .city-bg {
    bottom: 0;
    left: 0;
    margin: 0 auto;
    min-width: 1300px;
    position: absolute;
    width: 100%; } }
@media only screen and (max-width: 400px) {
  #header {
    height: 400px; }
    #header .sub-heading {
      top: 280px;
      font-size: 1.75em; }
    #header .header-dates {
      top: 290px;
      font-size: 1.1em; } }
@media only screen and (max-width: 674px) and (min-width: 401px) {
  #header {
    height: 550px; }
    #header .header-dates {
      top: 475px; } }
@media only screen and (max-width: 674px) {
  #main-wrapper {
    padding: 1em 1em 1em 1em; }

  .header-dates {
    font-size: 1.75em; }

  header .honeycomb {
    left: 50%;
    margin-left: -650px;
    position: absolute;
    min-width: 1300px;
    top: -165px;
    width: 100%;
    z-index: 1; }

  #header-navigation {
    display: none; }

  #body-navigation {
    display: none; } }
@media only screen and (max-width: 1100px) {
  #header {
    max-height: 600px; }

  #header-navigation {
    display: none; }

  .second-main-nav {
    display: none; } }
